.header{
    width: 100%;
    height: 15vh;
    background-color: var(--cinza-escuro);
}
.header nav{
    width: 100%;
    background-color: red;
    margin-top: 4vh;
    float: right;
}
.header nav ul{
}
.header nav ul li{
    display: inline;
    float: right;
    margin-right: 2%;
}
.header nav ul li a{
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    color: var(--cinza-claro);
    margin-right: 5%;
    text-transform: uppercase;
    font-weight: bold;
}